.expand-box {
    background-color: #212121;
    color: #9e9e9e;
    padding: 20px;
    margin: 0;
    bottom: 0;
 }

.expand-box-header {
    background-color:#212121;
    margin: 0;
    color: #9e9e9e;
    padding: 0 0 3px 2px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.expand-box-header img {
    height: 50px;
    width: auto;
}